<footer>
  <div id="footer">
    <section class="container main">
      <div class="row no-gutters">
        <div class="col-xl-4 flex vertical-centered">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/">© 2018 Divyansh Mahajan</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-4">
          <ul id="footer-nav" class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/about">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/portfolio">portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">contact</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-4 flex vertical-centered follow-buttons">
          <div class="follow-button twitter">
            <span class="button-icon">
              <i class="fab fa-twitter"></i>
            </span>
            <span class="button-text">
              Follow @divymhjn
            </span>
          </div>
          <div class="follow-button linkedin">
            <span class="button-icon">
              <i class="fab fa-linkedin"></i>
            </span>
            <span class="button-text">
              Connect @divyanshmahajan
            </span>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="arrow-section">
    <div class="arrow" id="arrow"></div>
  </div>
</footer>