@import "./theme.scss";

.flex {
  display: flex;

  &.horizontal-centered {
    justify-content: center;
  }

  &.vertical-centered {
    align-items: center;
  }
}

// Borders
.border-bottom {
  border-bottom: $code-border;
}

// Margins
.no-margin {
  margin: 0 !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

// Paddings
.no-padding {
  padding: 0 !important;
}

.padding-bottom-0 {
  padding-bottom: 0 !important;
}

.padding-right-0 {
  padding-right: 0 !important;
}

// Box shadow
.section-box-shadow {
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
