$black: #111111;
$neutral: #333333;
$blue: #008cdd;
$fb-blue: #3b5998;
$twitter-blue: #1da1f2;
$linkedin-blue: #0077b5;
$instagram-blue: #2c5c82;
$white: #ffffff;
$gray: #666666;
$light-gray: #f5f5f5;

// Radius
$global-radius: 3px;

// Borders
$border-color: #dddddd;
$code-border: 1px solid $border-color;

// Background
$background-light-gray: #fafafa;
